<!DOCTYPE html>
<html lang="en" ng-app="SmartGL">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Grocery List</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body ng-controller="MainController">

  <div id="wrapper" class="toggled-2">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

        <li>
          <a href="#"  class="_selectable" ng-click="is_creating_recipe=false;is_showing_list(null);is_showing_recipe(null);is_creating_grocery_list=true;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Grocery Lists</a>
          <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li ng-repeat="list in grocery_lists"><a href="#" ng-click="$parent.is_creating_recipe=false;$parent.is_showing_list(list);$parent.is_showing_recipe(null);$parent.is_creating_grocery_list=false;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>{{list.name}}</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="_selectable" ng-click="is_creating_recipe=true;is_showing_list(null);is_showing_recipe(null);is_creating_grocery_list=false;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Recipes</a>
          <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <li ng-repeat="recipe in recipes"><a href="#" ng-click="$parent.is_creating_recipe=false;$parent.is_showing_recipe(recipe);$parent.is_creating_grocery_list=false;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>{{recipe.name}}</a></li>
          </ul>
        </li>

        <li>
          <a href="#"  class="_selectable"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>About SmartGL</a>
        </li>

      </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <center>
        <div class="container-fluid xyz" ng-hide="started">
          <div class="row">
            <div class="col-lg-12">
              <h1>Smart Grocery List</h1>
              <a href="#" class="btn btn-default" ng-click="started=true" ng-init="started=false">Start</a>
            </div>
          </div>
        </div>

        <div class="container-fluid xyz" ng-show="current_list!=null">
          <div class="row">
            <div class="col-lg-12">
              <h1>{{current_list.name}}</h1>
              <h3>{{current_list.date}}</h3>
              <p ng-repeat="item in current_list.items">{{item.name}}:{{item.amount}}<span ng-if="item.from!=null">(from {{item.from}})</span></p>
            </div>
          </div>
        </div>

        <div class="container-fluid xyz" ng-show="is_creating_grocery_list">
          <div class="row">
            <div class="col-lg-12">
              <h1>New Grocery List</h1>
              <form class="create-form" role="form" ng-submit="createGroceryList(new_list,list_items)" novalidate>
                <div class="form-group">
                  <label for="new_list_name">Name</label>
                  <input type="text" class="form-control" id="new_list_name" ng-model="new_list.name">
                </div>
                <ng-form name="add_recipes_form" novalidate>
                  <label>Recipes</label>
                  <div class="form-group">
                  <select ng-model="selectedRecipe" ng-options="recipe.name for recipe in recipes"></select>
                  <a href="#" ng-click="list_items=list_items.concat(selectedRecipe.items)">Add Recipe</a>
                </div>
                </form>
                <ng-form name="send_contact_form" novalidate>
                  <label>Items</label>
                  <div ng-repeat="item in list_items">
                    {{item.name}}:{{item.amount}}<p ng-if="item.from!=null">(from {{item.from}})</p>
                  </div>
                  <div class="form-group">
                  <input type="text" class="_disableble form-control" ng-model="r_item_name" placeholder="Item name">
                  <input type="text" class="_disableble form-control" ng-model="r_item_amount" placeholder="Item amount">
                  <a href="#" ng-click="list_items.push({id: items.length, name: r_item_name, amount: r_item_amount });items.push({id: items.length, name: r_item_name, amount: r_item_amount });r_item_name='';r_item_amount='';is_item_from_recipe=false">Add Item</a>
                </div>
                </form>
                <button type="submit" class="btn btn-info btn-lg">Create</button>
              </form>
            </div>
          </div>
        </div>


        <div class="container-fluid xyz" ng-show="current_recipe!=null">
          <div class="row">
            <div class="col-lg-12">
              <h1>{{current_recipe.name}}</h1>
              <p ng-repeat="item in current_recipe.items">{{item.name}}:{{item.amount}}</p>
            </div>
          </div>
        </div>



        <div class="container-fluid xyz" ng-show="is_creating_recipe">
          <div class="row">
            <div class="col-lg-12">
              <h1>New Recipe</h1>
              <form class="create-form" role="form" ng-submit="createRecipe(newRecipe,recipe_items)" novalidate>
                <div class="form-group">
                  <label for="newRecipeName">Name</label>
                  <input type="text" class="form-control" id="newRecipeName" ng-model="newRecipe.name">
                </div>
                <ng-form name="send_contact_form" novalidate>
                  <label>Ingredients</label>
                  <div ng-repeat="item in recipe_items">
                    {{item.name}}:{{item.amount}}
                  </div>
                  <div class="form-group">
                  <input type="text" class="_disableble form-control" ng-model="r_item_name" placeholder="Ingredient name">
                  <input type="text" class="_disableble form-control" ng-model="r_item_amount" placeholder="Ingredient amount">
                  <a href="#" ng-click="recipe_items.push({id: items.length, name: r_item_name, amount: r_item_amount, from:newRecipe.name });items.push({id: items.length, name: r_item_name, amount: r_item_amount });r_item_name='';r_item_amount=''">Add Ingredient</a>
                </div>
                </form>
                <button type="submit" class="btn btn-info btn-lg">Create</button>
              </form>
            </div>
          </div>
        </div>
      </center>
    </div>

    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- AngularJS -->
  <script src="js/angular.min.js"></script>
  <!-- App Module -->
  <script src="js/smartgl-app.start.js"></script>

  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/sidebar_menu.js"></script>
  <script>
  $('._selectable').click(function(){
   $(this).parent().addClass('active');
   $(this).parent().siblings().removeClass('active');
  });
  </script>

</body>

</html>
